
.teams{
   padding-bottom: 40px;
   width: 100%;
   padding: 24px 0;
 }

.title {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.name {
    font-size: 18px;
    font-weight: bold;
   margin-bottom: 5px;
}

.team__position{
   color:#4b73b5;
   margin-bottom: 12px;
    font-size: 14px;
    font-weight: bold;
}

 .teams__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

.teams__item{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 10px 5px 30px 5px;
   width: 30%;
 }


 .team__avatar{
   height: 160px;
    width: 160px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
 }

.team__avatar::before {
    content: '';
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4b73b5;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}

 .team__img{
   height: 160px;
    width: 160px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
 }


.team__avatar-name{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.team__name{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.team__post{
  font-size: 14px;
  color: #4b73b5;
  font-weight: 700;
  margin-bottom: 5px;
}

.team__text{
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
